---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$navbar-inverse-color:                      #eee;
$navbar-inverse-bg:                         #222;
$navbar-inverse-border:                     #111;

// Inverted navbar links
$navbar-inverse-link-color:                 #ddd;
$navbar-inverse-link-hover-color:           #eee;


@import "syntax-highlighting";
//@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

//TODO BEGIN remove when we go back to bower
.navbar-inverse .navbar-brand {
  color: #eee;
}
@mixin readable {
  max-width: 800px;
  padding: 0 20px;
  margin: 0 auto;
}
//TODO END remove when we go back to bower


// @mixin readable {
//   max-width: 800px;
//   @include container-fixed;
// }

body {
  padding-top: 50px;
}

.navbar .container-fluid {
  @include readable;
}

iframe {
  border: none;
}

h1, h2, .navbar-brand {
  font-family: Lato, sans-serif;
}

.navbar-brand img {
  display: inline-block;
}

figure {
  margin: 30px 0;
  &:first-child {
    margin-top: 0;
  }
}

main {
  h1, h2, h3, h4, h5, h6 {
    @include readable;
    margin-bottom: 20px;
  }

  p {
    @include readable;
    margin-bottom: 30px;
  }

  figcaption {
    @include readable;

    text-align: right;
    font-style: italic;
    font-size: 0.8em;
  }
}

.site-footer {
  font-size: 0.8em;
  text-align: center;
}
