---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$navbar-inverse-color:                      #eee;
$navbar-inverse-bg:                         #222;
$navbar-inverse-border:                     #111;

// Inverted navbar links
$navbar-inverse-link-color:                 #ddd;
$navbar-inverse-link-hover-color:           #eee;


@import "syntax-highlighting";
//@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

//TODO BEGIN remove when we go back to bower
.navbar-inverse .navbar-brand {
  color: #eee;
}
@mixin readable {
  max-width: 768px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
//TODO END remove when we go back to bower


// @mixin readable {
//   max-width: 800px;
//   @include container-fixed;
// }

body {
  padding-top: 50px;
}

.navbar .container-fluid {
  @include readable;
}

iframe {
  border: none;
}

.readable {
  @include readable;
}

h1, h2, .navbar-brand {
  font-family: Lato, sans-serif;
}

.navbar-brand img {
  display: inline-block;
}

figure {
  margin: 30px 0;
  &:first-child {
    margin-top: 0;
  }
}

main {
  h1, h2, h3, h4, h5, h6 {
    @include readable;
    margin-bottom: 20px;
  }

  blockquote {
    @include readable;
    border-left: none;
    margin-bottom: 20px;
  }

  & > p {
    @include readable;
    margin-bottom: 30px;
  }

  img {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 20px;
    display: block;
  }

  figcaption {
    @include readable;

    text-align: right;
    font-style: italic;
    font-size: 0.8em;
  }

  .row {
    @include readable;
    .col-sm-6:first-child {
      padding-left: 0;
    }
  }

  .img-icon {
    width: 75px;
    @media screen and (max-width: 767px) {
      margin-top: 40px;
      margin-bottom: 20px;
      .col-sm-4:first-child & {
        margin-top: 0;
      }
    }
  }

  .well {
    @include readable;
    max-width: 550px;
    @media screen and (max-width: 767px) {
      max-width: 400px;
    }

    margin-top: 40px;
    margin-bottom: 40px;

    h2 {
      margin-top: 0;
      margin-bottom: 30px;
    }
    .lead {
      font-size: 18px;
    }
  }
}

.image-overlay {
  display: block;
  position: relative;

  span {
    color: #ddd;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 48px;
    margin-left: -24px;
    margin-top: -24px;
    &:hover {
      color: white;
    }
  }
}

.site-footer {
  font-size: 0.8em;
  text-align: center;
}
