<header class="site-header readable">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid readable">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><i class="fa fa-cube"></i> Salt</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a class="btn btn-link" target="_blank" href="https://github.com/unchartedsoftware/salt-examples">Examples</a></li>
          <li><a class="btn btn-link" target="_blank" href="/docs/scaladoc/#software.uncharted.salt.core.generation.TileGenerator">Documentation</a></li>
        </ul>

        <form class="navbar-form navbar-right">
          <div class="btn-group pull-right" role="group" aria-label="downloads">
            <!-- <a class="btn btn-default" href="{{ site.github.zip_url }}"><i class="fa fa-archive"></i> Download .zip</a>
            <a class="btn btn-default" href="{{ site.github.tar_url }}"><i class="fa fa-archive"></i> Download .tgz</a> -->
            <a class="btn btn-primary" href="{{ site.github.repository_url }}"><i class="fa fa-github"></i>&nbsp;Github</a>
          </div>
        </form>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>
