<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="wrapper">
      {% include header.html %}

      <main>
        {{ content }}
      </main>

      {% include footer.html %}
    </div>

    <script src="js/scale.fix.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

  </body>

</html>
